<h1>id: <%= @tweet.id %> のツイート詳細ページ</h1>

<p>日付： <%= @tweet.date %></p>
<p>ツイート： <%= @tweet.content %></p>

<%= link_to '一覧に戻る', tweets_path %>
<%= link_to 'このツイートを編集する', edit_tweet_path(@tweet) %>
<%= link_to 'このツイートを削除する', @tweet, method: :delete, data: { confirm: '本当に削除してよろしいでしょうか？' } %>